img{
	border:0;
    	padding:5px;
    	width: 12%;
	height:150px;
	display: block;
   	margin-left: auto;
    	margin-right: auto;
}
#aboutme{
	background-color:black;
    	color:white;
    	text-align:center;
    	padding:10px; 
	width: 94%;
	height:520px;
	font-family:Trebuchet MS;
	margin:auto;
}
h2{
	padding:10px;
}
#para_aboutme{
	font-size:100%;
	
}